---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<!-- {% if author.googlescholar %} -->
<!-- You can also find my articles on <u><a href="{{author.googlescholar}}">my Google Scholar profile</a>.</u> -->
<!-- {% endif %} -->

{% include base_path %}

<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/pcooksey/bibtex-js@1.0.0/src/bibtex_js.min.js"></script>
<bibtex src="/files/mypub.bib"></bibtex>

<div id="bibtex_display">
  <div class="bibtex_structure">
    <div class="sections bibtextypekey">
      <div class="section inproceedings">
        <h1>Conference</h1>
        <div class="sort year" extra="DESC number">
          <div class="templates"></div>
        </div>
      </div>
      <div class="section article">
        <h1>Journal / Article</h1>
        <div class="sort year" extra="DESC number">
          <div class="templates"></div>
        </div>
      </div>
      <!-- <div class="section misc|phdthesis|mastersthesis|bachelorsthesis|techreport">
        <h1>Other Publications</h1>
        <div class="sort year" extra="ASC number">
          <div class="templates"></div>
        </div>
      </div> -->
    </div>
  </div>

  <div class="bibtex_template" style="display: none;">
    <ul> <li>
      <span class="if title">
        <a class="bibtexVar" href="+URL+" extra="url">
            <span style="text-decoration: underline;" class="title"></span>,
        </a>
      </span>
      <div class="if author">
        <span class="author"></span>
      </div>
      <div>
        <span class="if journal"><em><span class="journal"></span></em>,</span>
        <!-- <span class="if !journal"><em>Conference</span> -->
        <!-- <span class="if publisher"><em><span class="publisher"></span></em>,</span> -->
        <span class="if booktitle"><em><span class="booktitle"></span></em>,</span>
        <span class="if address"><span class="address"></span>,</span>
        <!-- <span class="if month"><span class="month"></span>,</span> -->
        <span class="if year"><span class="year"></span>.</span>
        <!-- <span class="if note"><span class="note"></span></span> -->
        <!-- <a class="bibtexVar" role="button" data-toggle="collapse"
        href="#bib+BIBTEXKEY+" aria-expanded="false"
        aria-controls="bib+BIBTEXKEY+" extra="BIBTEXKEY" bibtexjs-css-escape>
          [bib]
        </a> -->
      </div>
      <!-- <div class="bibtexVar collapse" id="bib+BIBTEXKEY+" extra="BIBTEXKEY"> -->
		  <!-- <div class="well">
		    <pre><span class="bibtexraw noread"></span></pre>
		  </div> -->
	  </div>
	  <div style="display:none"><span class="bibtextype"></span></div>
    </li></ul>
  </div>

</div>




